.bar-wrapper {
  height: 36px;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  position: relative;
}
.percentage-label {
  padding: 7px;
  color: #000;
  position: absolute;
}
.background-percentage {
  height: 100%;
  border-radius: inherit;
  transition: width 1s ease-in-out;
  max-width: 100%;
}
